<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Dashboard</title>
  </head>
  <body>
    <h1>Skibidi Toilet</h1>
    <form method="post">
      {% csrf_token %}
      <h2>Add Product</h2>
      <div>
        <label for="">Name</label>
        <input type="text" name="product_name" value=""/>
      </div>

      <div>
        <label for="">Description</label>
        <input type="text" name="product_desc" value=""/>
      </div>

      <div>
        <label for="">Category</label>
        <input type="text" name="category" value=""/>
      </div>
      <button type="submit">Add Product</button>
    </form>
  </body>
</html>
